{% extends 'jobs/base.html' %}
{% block content %}
{% load static %}

  <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{ job.project_name }}</h1>
        <p class="lead text-muted">{{ job.summary }}</p>
        {% if job.link %}
            <a href="{{ job.link }}" target="_blank">View project</a><br><br>
        {% endif %}
        <img src="{{ job.image.url }}" height="300">
        <p><a href="{% url 'home' %}" class="btn btn-primary my-2">Back</a></p>
    </div>
  </section>

{% endblock content %}
